{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "jquery-3.4.1.min.js" %}">
</head>
<body>

  <div class="container">
      <h1>Bootstrap Page for {{ title }} page</h1>
      <h5>*%&!1</h5>
      <p>This part is inside a .container class.</p>
      <p>The .container class provides a responsive fixed width container.</p>
  </div>

</body>
</html>