{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <script src="{% static "jquery-3.4.1.min.js" %}"></script>
</head>
<body>

  <div class="container">
      <h1>Demo Index page</h1>
      <h3>Actors:</h3>
      <ul>
         <li><a href="{% url 'police-index' %}">Police</a></li>
         <li><a href="{% url 'insurance-index' %}">Insurance</a></li>
         <li><a href="{% url 'carsharing-index' %}">CarSharing</a></li>
      </ul>
      <button id="test-qr-ntfy">Test QR Notifications</button>
  </div>

  <script>
      $(function(){
         $("#test-qr-ntfy").click(function(){
             console.log('clicked!');
             ws = new WebSocket("ws://localhost/qr-notification");
             ws.onmessage = function(event) {
                 console.log(event.data);
             }
             ws.onclose = function(event) {
                 console.log('Websocket connection is DIE !!!');
             }
         });
      });
  </script>
</body>
</html>